$day-size: 100px;
$day-gap: 1px;
$day-border: 1px;
$day-font-size: 30px;
$calendar-padding: 10px;
$columns: 7;
$columns-width: $columns * $day-size;
$padding-width: 2 * $calendar-padding;
$gaps-width: ($columns - 1) * $day-gap;
$calendar-width: $columns-width + $gaps-width;
$index: 0;
$days-map: (
  mon: 0,
  tue: 1,
  wed: 2,
  thu: 3,
  fri: 4,
  sat: 5,
  sun: 6,
);
$cell-total: $day-size + $day-gap;
